//---defult style-------
custom-progress {
  margin-right: 10px;
  margin-left: 10px;
  width: 350px;
  height: 10px;
  border-width:2px;
  border-style: solid;
  background: gray;
  border-color: gray;
  display: inline-block;
  &::part(bar) {
    height: 100%;
    background-color: blue;
  }
  &.indeterminate {
    background: yellow;
    &::part(bar){
      width: 0;
    }
  }
  &.complete {
    &::part(bar) {
      background-color: rgb(53, 190, 53);
    }
  }
}
