:root {
  --page-padding-side: 10vw;
}
.container {
  margin-top: var(--header-hight);
  position: absolute;
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y proximity;
  overflow: scroll;
  font-size: 125%;
  text-align: left;
  section {
    width: calc( 100vw - 2 * var(--page-padding-side));
    padding: var(--page-padding-side);
    scroll-snap-align: start;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &:nth-child(1){
      height: calc(100vh - 2 * var(--page-padding-side))
    }
    h1 {
      font-size: xxx-large;
    }
    code {
      background-color: rgb(27 31 35 / 55%);
    }
    pre {
      background-color: rgb(39, 39, 39);
      code {
        background-color: transparent;
      }
    }
    
    a {
      color: #2be677;
      &::after {
        content: '↗︎';
      }
    }
    .bottom {
      top: auto;
      bottom: 0;
      position: relative;
    }
    .center {
      text-align: center;
      flex: 1;
    }
    .boxed {
      padding: 2em;
      border: black 1px;
      border-style: inset;
      overflow: scroll;
    }
  }
}
