.container {
  padding-top: var(--header-hight);
  position: absolute;
  width: 100vw;
  height: max-content;
  section {
    width: calc( 100vw - 200px);
    height: calc(100vh - 200px);
    padding: 100px;
    > {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }
}