
header {
  position: fixed;
  width: 100vw;
  height: var(--header-hight);
  top:0px;
  left: 0px;
  border-bottom: white 1px solid;
  font-size: calc( var(--header-hight) * 0.66);
  background-color: black;
  z-index: 10000;
  .title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
  }
}