:root{
  --popup-width: 300px;
  @media (max-width: 600px) {
    --popup-width: 100vw
  }
}
.menu_list_container {
  position: fixed;
  font-size: 1.3rem;
  .menu-list {
    position: fixed;
    top: var(--header-hight);
    right: 0px;
    width: var(--popup-width);
    height: 100vh;
    z-index: 1000;
    background-color: black;
    transform: none;
    transition: 0.2s ease-out;
  }
  &.hidden {
    .menu-list {
      transform: translateX(var(--popup-width));
    }
    #backfield {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease-out;
    }
    #h-menu-button > span{
      transform: none !important;
      background-color: white !important;
    }
  }
  #h-menu-button {
    position: fixed;
    height: var(--header-hight);
    width: var(--header-hight);
    cursor: pointer;
    top: 0;
    right: 0;
    display: grid;
    align-content: space-evenly;
    span {
      width: 80%;
      height: 5px;
      border-radius: 5px;
      background-color: #01ffff;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: 0.2s ease-out;
      &:nth-child(1) {
        transform: translateY(200%) rotate(-30deg);
      }
      &:nth-child(2) {
        transform: translateY(-200%) rotate(30deg);
      }
    }
  }
  #backfield {
    position: fixed;
    pointer-events: initial;
    top: var(--header-hight);
    left: 0px;
    opacity: 1;
    z-index: -1;
    width: 100vw;
    height: calc(100vh - var(--header-hight));
    background-color: #00000088;
    transition: opacity 0.2s ease-out;
  }

  p {
    padding: 1em;
    color: #00dede;
    transition: 0.2s ease-out;
    cursor: pointer;
    border-bottom: 1px darkcyan double;
    margin: 0px;
    &:hover {
      background-color: #00dede;
      color: black;
    }
  }
  
}