:root{
  --popup-width: 300px;
  @media (max-width: 600px) {
    --popup-width: 100vw
  }
}
.menu_list {
  position: fixed;
  right: 0px;
  width: var(--popup-width);
  height: 100vh;
  font-size: 1.3rem;
  z-index: 1000;
  background-color: black;
  transition: transform 0.2s ease-out;
  &.hidden {
    transform: translateX(var(--popup-width));
    #backfield {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease-out;
    }
  }
  #backfield {
    position: fixed;
    pointer-events: initial;
    top: var(--header-hight);
    left: 0px;
    opacity: 1;
    z-index: -1;
    width: 100vw;
    height: calc(100vh - var(--header-hight));
    background-color: #00000088;
    transition: opacity 0.2s ease-out;
  }

  p {
    padding: 1em;
    color: darkcyan;
    transition: 0.2s ease-out;
    cursor: pointer;
    &:hover {
      background-color: cadetblue;
      color: black;
    }
  }
  
}