//---defult style-------
progress-bar {
  margin-right: 10px;
  margin-left: 10px;
  width: 350px;
  height: 0.7em;
  border-width: 2px;
  border-style: solid;
  background: gray;
  border-color: rgb(44, 44, 44);
  display: inline-block;
  &::part(bar) {
    height: 100%;
    background-color: rgb(71, 157, 255);
  }
  &.indeterminate {
    background: rgb(235, 235, 126);
    &::part(bar){
      width: 0;
    }
  }
  &.complete {
    &::part(bar) {
      background-color: rgb(53, 190, 53);
    }
  }
}
